name: Package patch MPQ

on:
  push:
    branches:
      - 'test'

jobs:
  package-patch-mpq:
    if: "startsWith(github.event.head_commit.message, '[build]')"
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          lfs: true
          path: patch

      - name: Use Node.js 16.x
        uses: actions/setup-node@v3
        with:
          node-version: '16.x'
          cache: 'npm'
          cache-dependency-path: 'patch/.github/workflows/package.yml'

      - name: Build
        run: npx haax@0.1.13 build ./patch ./patch-Z.mpq inPlace

      - name: Bump version and push tag
        id: tag_version
        uses: mathieudutour/github-tag-action@v6.1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          default_bump: patch

      - name: Create a GitHub release
        uses: ncipollo/release-action@v1
        with:
          tag: ${{ steps.tag_version.outputs.new_tag }}
          body: ${{ steps.tag_version.outputs.changelog }}
          artifacts: patch-A.mpq
          artifactErrorsFailBuild: true
